<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>IDKN.TodayRSS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>todayrss</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>IDKN.TodayRSS.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>IconLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconLight</string>
				</array>
			</dict>
			<key>IconDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconDark</string>
				</array>
			</dict>
			<key>IconDarkColor</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconDarkColor</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
